#Comentario#
#PARA IGNORAR ARCHIVOS ESPECIFICOS
#archivo_base.txt
#.gitignore
#PARA IGNORAR DIRECTORIOS
imagenes/
#PARA IGNORAR ARCHIVOS CON LA MISMA EXTENCIÓN
#*.PNG
#*.jpg
#PARA IGNORAR UN ARCHIVO DENTRO DE UN DIRECTORIO
imagenes/imagen2.png